*{
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#circle{
    border: 2px solid blue;
    height: 120px;
    width: 120px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#square{
    border: 2px solid blue;
    width: 120px;
    height: 120px;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
}
#ellipse{
    border: 2px solid blue;
    height: 50px;
    width: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(80, 184, 202);
    border-radius: 5px 10px 15px 20px;
    box-shadow: 40px 15px 15px;
}