*{
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#circle{
    border: 2px solid blue;
    height: 120px;
    width: 120px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#square{
    border: 2px solid blue;
    width: 120px;
    height: 120px;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
}
#branch{
    border: 2px solid blue;
    width: 120px;
    height: auto;
    background-color: orange;
}